.headerjumbo {
    position: absolute;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
    text-align: center;
    top: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background: none;
    background-image: linear-gradient(to bottom, rgba(141, 141, 141, 0.99), rgba(27, 27, 27, 0.95));
    border-style: solid;
    border-color: white;
    border-width: 4px;
    font-family: 'Hepta Slab', serif;
    box-shadow: 5px 5px 5px grey;
  }

.jumbotron {
    background: none;
    background-image: linear-gradient(to bottom, rgba(141, 141, 141, 0.99), rgba(27, 27, 27, 0.95));
    border-style: solid;
    border-color: white;
    border-width: 4px;
    font-family: 'Hepta Slab', serif;
    box-shadow: 5px 5px 5px grey;
}

img {
    width: 2250px;
    height: 1500px;
}

.carousel-content2 {
    position: absolute;
    width: 512px;
    left: 5%;
    text-align: center;
    top: 30%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    
}

.carousel-content3 {
    position: absolute;
    width: 768px;
    left: 50%;
    margin-left: -384px;
    text-align: center;
    top: 45%;
    z-index: 25;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    
}

.carousel-content4 {
    position: absolute;
    width: 512px;
    left: 95%;
    margin-left: -512px;
    text-align: center;
    top: 30%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6); 
}

.carousel-content2, .carousel-content3, .carousel-content4 {
    transition: all .2s ease-in-out;
}

.carousel-content2:hover, .carousel-content4:hover {
    z-index: 30;
}

  .carousel-content2:hover, .carousel-content3:hover, .carousel-content4:hover {
    transform: scale(1.1);
}